<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-10 p-5   ">
        <!--  <form class="row g-3" [formGroup]="createFacturaForm" (ngSubmit)="newFactura(createFacturaForm.value)">
            <div class="col-md-5">
              <label for="validationDefault02" class="form-label text-white">Usuario</label>
              <select class="form-select" aria-label="Default select example" formControlName="id_usuario"  required>
                <option selected disabled>Seleccione un usuario</option>
                <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{usuario.name}}</option>
              </select>
            </div>
            <div class="col-md-5">
              <label for="validationDefault02" class="form-label text-white">Cliente</label>
              <select class="form-select" aria-label="Default select example" formControlName="id_cliente"   required>
                <option selected disabled>Seleccione un  Usuario</option>
                <option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.name_client}}</option>
              </select>
            </div>
            <div class="col-md-12">
              <button class="btn btn-primary" type="submit">Crear</button>
            </div>
          </form> -->

      </div>
    </div>
    <div class="row">
      <h1 class="text-center font"> Facturas Realizadas</h1>
      <div class="container">
        <div class="row">
          <div class="col-12 p-4">
            <table class="table table-hover  text-center ">
              <thead>
                <tr>
                  <th scope="col">Usuario</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">dia </th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let factura of facturas">
                  <th scope="row">{{factura.name}}</th>
                  <th scope="row">{{factura.name_client}}</th>
                  <th>{{factura.fechaFactura | date:'dd/MMM/yyy' }}</th>
                  <th>
                    <div class="btn-group" role="group">
                      <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Opciones
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" >
                        <li><a class="dropdown-item  "  routerLink="/pedido/createPedido/{{factura.id}}">Pedidos</a></li>
                        <li><a class="dropdown-item"  routerLink="/factura/editFactura/{{factura.id}}">Editar</a></li>
                        <li><a class="dropdown-item "  (click)="deleteFactura(factura.id)">Eliminar</a></li>
                        <li><a class="dropdown-item "  routerLink="/factura/downloadFactura/{{factura.id}}">Visualizacion</a></li>
                      </ul>
                    </div>
                     <!--   <div class="btn-group ">
                      <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Opciones
                      </button>
                      <ul class="dropdown-menu">
                        <li><button class=" btn-success" routerLink="/pedido/createPedido/{{factura.id}}"> Pedidos
                          </button></li>
                        <li><button class=" btn-primary" routerLink="/factura/editFactura/{{factura.id}}">
                            Editar</button></li>
                        <li>
                          <button class="btn-danger" (click)="deleteFactura(factura.id)"> Eliminar
                            </button>
                        </li>
                        <li><button class="btn-info" routerLink="/factura/downloadFactura/{{factura.id}}"> Visualizacion
                          </button></li>
                      </ul>
                    </div> -->
                  </th>
                </tr>
              </tbody>
            </table>
            <div class="col-4 p-4  ">
              <button class="btn btn-primary" routerLink="/access/dashboard">Volver</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>
