body{
  background-color: #FFF;
  min-height: 88vh;
}
.font{
    font-family: 'Pacifico', cursive;
  font-size: 60px;
  color: #000;
}
.center{
  padding-top: 150px;
}
::ng-deep ngb-accordion >div .collapsing,::ng-deep ngb-accordion >div .collapse{
background-color: #FFF;
}



